.fonts {
  padding: 24px;
  font-size: 24px;

  .texts {
    margin-top: 24px;
  }

  .fw400 {
    font-weight: 400;
  }

  .fw500 {
    font-weight: 500;
  }

  .fw600 {
    font-weight: 600;
  }

  .fw700 {
    font-weight: 700;
  }

  .fw400_italic {
    font-weight: 400;
    font-style: italic;
  }

}